<nav class="navbar">
    <input class="form-control" type="text" name="subtitle" [(ngModel)]= "subtitle" (ngModelChange)="Search()"
    placeholder="Search...">
</nav>
<!-- Natalia theme test-->
<div class="test">
    <ng-container *ngIf = "articles$|async as articles">
        <div class="row">
            <div class="col-4" *ngFor="let article of articles|filter:'Economy':'category'">
                <div class="card">
                    <h5>{{article.category}}</h5>
                    <p>id: {{article.id}}</p>
                   <!-- <p>Update Date: {{article.update_date}}</p>--> 
                <img class="card-img-top" [src]="'data:'+ article.thumbnail_media_type + ';base64,' 
                + article.thumbnail_image">
                    <div class="card-body">
                        <h4 class="card-title">{{article.title}}</h4>
                        <h5 class="card-title">{{article.subtitle}}</h5>
                        <p class="card-text">{{article.abstract}}</p>
                        <p><i class="fa fa-user pr-2"></i>{{article.id_user}}</p>
                    </div>
                </div>    
            </div>
        </div>
    </ng-container>
</div>
