<!--
<ng-container *ngIf = "articles$|async as articles">
    <div *ngFor="let article of articles">
        <p>
            ID: {{ article.id }}
        </p>
        <p>
            Abstract: {{article.abstract}}
        </p>
        <p>
            Subtitle: {{article.subtitle}}
        </p>
        <p>
            Category: {{article.category}}
        </p>
        <p>
            Title: {{article.title}}
        </p>
        <p>
            Update: {{article.update_date}}
        </p>
    </div>
</ng-container>
-->
<!-- Natalia theme test-->
<ng-container *ngIf = "articles$|async as articles">
    <div *ngFor="let article of articles">
        <div class="container-fluid">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" [src]="article.thumbnail_image" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">{{article.abstract}}</p>
                        <p><i class="fa fa-user pr-2"></i>Natalia</p>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</ng-container>