<form #editform='ngForm' (ngSubmit)="onCreate(editform)" >
    <div class="form-group">
        <input type="text" class="form-control" ngModel name="title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ngModel name="subtitle" placeholder="Enter Subtitle">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ngModel name="abstract" placeholder="Enter Abstract">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ngModel name="body" placeholder="Enter Body">
    </div>
    <div class="form-group">
        <label>Image input</label>
        <input type="file" (change) = "fileChangeEvent($event)" class="form-control-file" 
        ngModel name="image_data">
    </div>
  <!--  <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem ngModel name="category">International</button>
            <button ngbDropdownItem ngModel name="category">National</button>
            <button ngbDropdownItem ngModel name="category">Economy</button>
            <button ngbDropdownItem ngModel name="category">Sports</button>
            <button ngbDropdownItem ngModel name="category">Technology</button>
        </div>
    </div>-->
    <select (change)="CatChoice($event)">
        <option>Choose a Category</option>
        <option value="International">International</option>
        <option value="National">National</option>
        <option value="Technology">Technology</option>
        <option value="Sports">Sports</option>
        <option value="Economy">Economy</option>
    </select>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

