<div class="main">
 <form class="form1" #loginForm='ngForm'(ngSubmit)="onLogin(loginForm)">
    <!-- <div class="form-group">
     class="form-control"
    </div> -->
    <input type="text" class="un " 
      required ngModel name="username" placeholder="User Name">
    <!-- <div class="form-group">
      
    </div> -->
    <input type="password" class="pass" 
      ngModel name="passwd" placeholder="Password">
      <br>
    <button type="submit" class="submit"
    [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>