<div class="main">
    <br>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-5">
            <h1>Enter Data</h1>
            <form #editform='ngForm' (ngSubmit)="onEdit(editform,article)" *ngIf="article$|async as article">
                <input type="text" class="form-control" ngModel name="title" placeholder={{article.title}}>
                <br>                
                <input type="text" class="form-control" ngModel name="subtitle" placeholder={{article.subtitle}}>
                <br>
                <input type="text" class="form-control" ngModel name="abstract" placeholder={{article.abstract}}>
                <br>
                <input type="text" class="form-control" ngModel name="body" placeholder={{article.body}}>
                <br>
               <div class="form-group">
                    <label>Image input</label>
                    <input type="file" (change) = "fileChangeEvent($event,article)" class="form-control-file" 
                    ngModel name="image_data">
                </div>
                <select (change)="CatChoice($event,article)">
                    <option>Choose a Category</option>
                    <option value="International">International</option>
                    <option value="National">National</option>
                    <option value="Technology">Technology</option>
                    <option value="Sports">Sports</option>
                    <option value="Economy">Economy</option>
                </select>
                <br>   
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
        <div class="col-5">
            <div class="main">
                <ng-container *ngIf="article$|async as article">
                    <h1 class="cate">{{article.category}}</h1>
                            <img class="image1" [src]="'data:'+ article.image_media_type + ';base64,' 
                            + article.image_data">
                            <h1>{{article.title}}</h1>
                            <h2>{{article.subtitle}}</h2>
                            <p>{{article.abstract}}</p>
                            <p>{{article.body}}</p>
                            <p><i class="fa fa-user pr-2"></i>Article Written By {{article.id_user}}</p>
                </ng-container>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>
